@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 17px;
}

.nav-wrapper li a {
    font-size: 18px;
}

.brand-logo {
    padding-top: 7px !important;
    padding-right: 50px !important;
}

.center-align,
.right-align,
.left-align {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 3px;
    width: 600px !important;
    margin: auto;
}

img.circle.materialboxed {
    display: inline;
    padding: 15px;
}

.team img.circle:hover {}

.company {
    padding: 100px;
}

img.company:hover {
    transform: scale(1.25);
    transition: .7s all;
}

.fab.fa-3x {
    margin: 5px 10px;
}

.fab.fa-3x:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

video {
    max-height: 335px;
    max-width: 511px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.section i {
    vertical-align: middle;
    padding-bottom: 5px;
}